.grid{
width: 100%;
padding: 100%;
position: relative;
}

.linha1{
  margin: 5px;
  text-align: center;
    display: inline-block;
}

.linha2 {
  margin: 5px;
  text-align: center;
    display: inline-block;
}

.linha3{
  margin: 5px;
  text-align: center;
    display: inline-block;
}

.item1{

}

.item2{

}

.item3{

}

.item4{


}

.item5{


}

.item5{


}

.item6{


}

.item7{


}

.item8{


}

.item9{


}
